#D1{
    background-color: RED;
}

#D2{
    background-color: yellow;
}
#D3{
    background-color: blue;
}

#D4{
    background-color: green;
}

#D5{
    background-color: orange;
}

#a1{
    background-color: RED;
}

#a2{
    background-color: yellow;
}
#a3{
    background-color: blue;
}

#a4{
    background-color: green;
}

#a5{
    background-color: orange;
}

#a6{
    background-color: pink;
}

.C1{
    background-color: RED;
}

.C2{
    background-color: green;
}

.C3{
    background-color: blue;
}