div{
    width: 300px;
    height: 300px;
    border: 2px solid;
}

@media (min-width:400px) and (max-width:1000px){
    div{
        background-color: green;
        border-radius: 50%;
        margin: auto;
    }
}

