section{
    border: 2px solid;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    align-content: center;
    column-gap: 20px;
    row-gap: 20px;
}

div{
    border: 2px solid;
    height: 50px;
    width: 50px;
}

#d1{
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-row-start: 1;
    grid-row-end: 3;
}