/* div>h1:first-child{
    background-color: blue;
}

div>h1:last-child{
    background-color: red;
}

div>h1:nth-child(3){
    background-color: chartreuse;
} */

/* div>h1:nth-child(odd){
    background-color: yellow;
} */

/* div>h1:nth-child(odd){
    background-color: brown;
}

div>h1:first-of-type{
    background-color: green;
}

div>h1:last-of-type{
    background-color: orange;
} */

div>h1:nth-of-type(even){
    background-color: pink;
}