h1{
    color: yellow;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 10px;
    text-decoration-color: red;/
}

p{
    letter-spacing: 10px;
}

section{
    word-spacing: 7px;
    text-indent: 78px;
}

aside{
    line-height: 70px;
}

h2{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 10px 4px red;
}