body{
    height: 100%;
    width: 100%;
}


nav{
    width: 100%;
    border: 2px solid;
    display: flex;
    justify-content: center;
    justify-content: flex-end;
    justify-content: flex-start;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: center;
    gap: 10%;
}

section{
    height: 300px;
    width: 250px;
    display: flex;
    border: 2px solid;
    /* flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-wrap: wrap-reverse; */
    /* flex-direction: column;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column-reverse; */
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    align-items: flex-end;
}

section div{
    width: 10px;
    height: 40px;
    border: 2px solid;
}

aside{
    border: 2px solid;
    height: 200px;
    width: 300px;
}

aside div{
    height: 50px;
    width: 100px;
    border: 2px solid;
}

#d1{
    background-color: red;
    display: inline-flex;
}

#d2{
    background-color: rgb(195, 255, 0);
    display: inline-flex;
    /* display: block;
    display: none; */
    visibility: hidden;
    visibility: visible;
}

#d3{
    background-color: rgb(242, 0, 255);
}

span{
    display: inline-block;
    border: 2px solid;
    height: 100px;
    width: 100px;
    text-align: center;
}