div{
    width: 100px;
    height: 100px;
    border: 2px solid;
    background-color: blue;
    background-color: rgb(45, 244,241);
    background-color: rgba(21, 234, 91, 0.4);
    background-color: hsl(30deg, 10%, 20%);
    background-color: hsla(67deg, 89%, 89%, 0.6);
    background-color: #f54646;
}