#d1{
    background-color: aqua;
    color: black;
}
.c1{
    background-color: brown;
    color: black;
}
h1,p,div{
    background-color: blueviolet;
    color: black;
}

section{
    background-color: chartreuse;
    color: black;
}
aside{
    background-color: chartreuse;
    color: black;
}

*{
    background-color: black;
}
body{
    background-color: orange;
}