p{
    background-color: green;
    background-image: url('./download (1).jpg');
    background-size: contain;
    background-size: cover;
    background-size: 30%;
    background-size: 40px;
    background-size: 20% 30%;
    background-repeat: repeat;
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top right;
    background-position: top left;
    background-position: top center;
    background-position: bottom center;
    background-position: bottom right;
    background-position: bottom left;
    background-position: center left;
    background-position: center right;
    background-attachment: fixed;
    background-attachment: scroll;
}