* {
  margin: 0%;
  padding: 0%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: #454647;
}

nav {
  /* border: 2px solid; */
  background-color: #343535;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 74px;
}

nav div i {
  font-size: 20px;
}

nav div {
  width: 280px;
  /* border: 2px solid; */
  display: flex;
  align-items: center;
  gap: 27px;
  padding-left: 2%;
}

nav img {
  height: 35px;
}

nav ol {
  width: 460px;
  /* border: 2px solid red; */
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  font-size: 20px;
}

section aside {
  height: 625px;
  /* border: 2px solid red;   */
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
}

input {
  border-radius: 5px;
  color: #454647;
  font-size: 18px;
  width: 700px;
  height: 30px;
  padding: 8px 52px 8px 16px;
}

footer {
  align-items: center;
  height: 35px;
  display: flex;
  background-color: #d9643a
}

footer h3 {
  margin-left: 27px;
  font-weight: 200;
}

section {
  position: absolute;
  top: 0%;
  width: 100%;
  color: white;
}