header{
height: 20px;
background-color: rgb(218, 232, 255);
height: 60px;
}
span{margin-top: 15px;
margin-left: 50px;}

#b2{height: 30px;
    width: 50px;
        margin-left: 80%;
    margin-top: 15px;}
#b1{height: 30px;
       width: 50px;
   background-color: blue;
margin-top: 15px;}




div{border: 2px solid;
height: 600px;
border-bottom-left-radius: 50% ;
border-bottom-right-radius: 50% ;
background-color: rgb(218, 232, 240);
border: none;
}

img{height: 380px;
margin-left: 53%;
margin-top: 5%;}

#b3{background-color: blue;
height: 40px;
       width: 110px;}
#b4{height: 40px;
       width: 110px;}

section{margin-left: 8%;
margin-top: -30%;}



*{margin: 0;
padding: 0%;
font-family:sans-serif;
}